.form {
    box-sizing: border-box;
    width:100%;
    max-width: 800px;
    min-width: 200px;
    padding:20px;
    border: 2px solid;
    margin: 0;
    display:grid;
    grid-template-columns: 1fr;
    gap:20px;
}

.title-frame
{
    display:flex;
    justify-content: center;
}

.form-title {
    text-align: center;
    font-size: 32px;
}

.form ol {
    padding: 0 20px 0 20px;
    margin:0;
}

.question-group {
    display:grid;
    grid-template-columns: 1fr auto;
}