.fixed-element {

    box-sizing: border-box;
    position:fixed;
    width:100%;
    max-width: var(--children-max-width);
    background: var(--main-color);
    padding:10px;
    border: 1px solid;
    bottom:10px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display:grid;
    grid-template-columns: 1fr;
}