.formFrame {
    box-sizing: border-box;

    display: grid;
    padding:30px;
    margin:0 30px 100px 30px;
    height:100%;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;

    --children-max-width: 800px;
    anchor-name: --fixed-element-anchor;
}