.question-editor {
    border: 1px solid;

    padding:10px;
    margin:10px;

    display:grid;
}

.question-editor input[type="checkbox"] {
    height:1.5rem;
    aspect-ratio: 1/1;
    place-self: center;
    accent-color: black;
    border-radius: 0;
}

.question-editor form {
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.question-editor .common-options-frame {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.question-editor .common-options-frame textarea {
    border: 1px solid;
    height: 4rem;
    padding: 5px;
    overflow: scroll;
    resize: vertical;

    overflow-wrap: break-word;
    word-break: break-all;
}

.question-editor .button-bar {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:5px;
}

.question-editor .grid-question {
    display:flex;
    gap:10px;
    flex-direction: column;
    padding: 10px 0 10px 0;
    margin:10px 0 10px 0;
    border: 1px solid;
}

.question-editor .grid-question .options-frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.question-editor .grid-question .options-frame .option {
    display:flex;
}

.question-editor .grid-question .options-frame .option p {
    margin: 0
}

.question-editor .grid-question ol {
    margin:0;
    padding: 0 30px 0 30px;
}

.question-editor .grid-question ol li {
    margin-bottom: 5px;
}

.question-editor .grid-question ol li div {
    display:grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
}

.question-editor .grid-question ol li div button {
    aspect-ratio: 1/1;
    font-weight: bold;
}

.question-editor .text-question {
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0 10px 0;
    margin:10px 0 10px 0;
    border: 1px solid;
}

.question-editor .text-question .is-optional {
    display:flex;
    justify-content: center;
    gap:10px;
}

.max-chars {
    display:flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.max-chars input{
    width: 4rem
}

.question-editor .grid-question .add-button-frame {
    display:flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.question-editor .grid-question .add-button-frame button {
    width: 8rem
}

