@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --main-color:white;
    --button-hover: #cfcfcf;
    --button-clicked: #ababab;
}

body {
    margin:0 auto;
    padding:0 0;
    font-family: 'Poppins', sans-serif;
}

html, body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button {
    background: white;
    border: solid 1px;
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-clicked);
}

.plain-button {
    background: white;
    border: solid 1px;
    padding:5px
}

.plain-button:hover {
    background: var(--button-hover);
}

.plain-button:active {
    background: var(--button-clicked);
}

.loading {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading h2 {
    text-align: center;
}

input, select, option {
    border:1px solid;
}

option:hover {
    background-color: var(--button-hover);
}

option:active {
    background-color: var(--button-clicked);
}

p, h1, h2, h3, h4, a, h5, td, th, input, button, label, select, option {


    overflow-wrap: break-word;
    word-break: break-all;
    padding: 5px 10px 5px 10px;
    margin: 0;
}

h1, h2, h3, h4, h5, button, label {

    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.20px black;
    font-weight: bolder;
}