@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --main-color:white;
    --button-hover: #cfcfcf;
    --button-clicked: #ababab;
}

body {
    margin:0 auto;
    padding:0 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color:black;
}

input, select, textarea, a {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: white;
    border: solid 1px;
    padding:5px 10px 5px 10px
}

button:hover {
    background: #cfcfcf;
}

button:active {
    background: #ababab;
}

.plain-button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: white;
    border: solid 1px;
    padding:5px
}

.plain-button:hover {
    background: var(--button-hover);
}

.plain-button:active {
    background: var(--button-clicked);
}

.form-frame {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    flex-grow: 1;
    max-width: 800px;

    gap:10px;
}

.form-title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 32px;
}

.form-question-list {
    border: 1px solid;
    padding: 30px;
    margin: 0;
}

.form-question {
    margin: 5px;
    border: 1px solid;
    padding: 5px
}

.form-grid-question-choices-frame {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.error-popup {
    margin:0;
    color:red;
    border:1px solid;
    top:100%;
    position:absolute;
}

.loading {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading h2 {
    text-align: center;
}

input {
    padding: 5px 10px 5px 10px;
    border:1px solid;
}