.frame {

    flex-grow: 1;
    padding:30px;
    border: 1px solid;
}

.frame form {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.frame h2 {
    text-align: center
}

.frame input {
    padding:5px 10px 5px 10px
}