.formTitleInput {
    field-sizing: fixed;
    width: 0;
    min-width: 1px;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 32px;
    text-align: center;

}

.questionGroup {
    display:grid;
    grid-template-columns: 1fr auto;
    margin:10px;
}

.questionGroup li {
    margin:0;
}

.questionButtonsFrame {
    margin:0;
    align-self:start;

    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    padding-left:10px;
    gap:5px;
}

.questionButtonsFrame button {
    place-self: center;
    width: 100%;
    aspect-ratio: 1/1;
    height:40px;
    text-align: center;
}

.editButton {

    height: 2rem;
    align-self: end;
    background: url("images/edit.png") no-repeat center, white;
    background-size: 75%;
}

.editButton:hover {
    background: url("images/edit.png") no-repeat center, var(--button-hover);
    background-size: 75%;
}

.editButton:active {
    background: url("images/edit.png") no-repeat center, var(--button-clicked);
    background-size: 75%;
}

.upButton {
    align-self: start;
    background: url("images/up.png") no-repeat center, white;
    background-size: 60%;
}

.upButton:hover {
    background: url("images/up.png") no-repeat center, var(--button-hover);
    background-size: 60%;
}

.upButton:active {
    background: url("images/up.png") no-repeat center, var(--button-clicked);
    background-size: 60%;
}

.upButton:disabled {

    background: url("images/up.png") no-repeat center, var(--button-hover);
    background-size: 60%;
}

.downButton {
    align-self: start;
    background: url("images/down.png") no-repeat center, white;
    background-size: 60%;
}

.downButton:hover {
    background: url("images/down.png") no-repeat center, var(--button-hover);
    background-size: 60%;
}

.downButton:active {
    background: url("images/down.png") no-repeat center, var(--button-clicked);
    background-size: 60%;
}

.downButton:disabled {
    background: url("images/down.png") no-repeat center, var(--button-hover);
    background-size: 60%;
}